<h1><%= @space.title %></h1>

<table style="width:100%">
	<tr>
		<th>Category</th>
		<th>Phone</th>
		<th>Location</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><%= @space.category %></td>
		<td><%= @space.phone %></td>
		<td><%= @space.location %></td>
		<td><%= @space.description %></td>
	</tr>
</table>
